services:
#=================
#PostgresSQL 16
#=================
    db:
        container_name: PostgresSQL
        image: postgres:16
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: ${POSTGRESDB_USER}
            POSTGRES_PASSWORD: ${POSTGRESDB_PASSWORD}
            POSTGRES_DB: ${POSTGRESDB_DB}
        volumes:
            - pgdata_local:/var/lib/postgresql/data # 資料庫存檔位置
        restart: always
#=================
#minio
#=================
    minio:
        container_name: minio-local
        image: minio/minio:latest
        command: server /data --console-address ":9001"
        ports:
            - 9000:9000 # 程式連線用 (API)
            - 9001:9001 # 你看介面用 (Console)
        environment:
            MINIO_ROOT_USER: ${S3_ACCESS_KEY}
            MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
        volumes:
            - minio_data_local:/data # 檔案存檔位置
        restart: always

# 確保資料不會因為重開機消失
volumes:
    pgdata_local:
    minio_data_local: